*
{
margin:0;
padding:0;
box-sizing:border-box;

}
body
{
margin: 0;
padding:0;
box-sizing:border-box;
font-family: DM Sans,sans-serif;
color:#2f1c6a;
}
:root
{
--cl--primary:#2f1c6a;
--cl-secondary:   ;

--border-width:1px;
--border-widths:(
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

border-color:gray-300;
--border-radius: .25rem;
--border-radius-sm:.2rem;
--border-radius-lg:.3rem;
--border-radius-pill:50rem;
}


.navbar
{
background-color:white;
z-index: 10000;
position:sticky;
color:black;
margin-top: 0px;
}

.nav-link
{
padding-left:4em;
color:black;
}

.nav-item , .pl-3
{
padding-left:1rem !important;
}

#loginbutton
{
margin-left:8px;
}

.header
{
  width:100%;
  height:auto;
  position:fixed; 
  background-color: white;
   z-index: 1000;
   margin-top: 0px;

}

.nav
{
width:95%;
color: black;
gap:20px;
font-size: 16px;
z-index: 10; 
}

 #loginbutton
{
width:80px;
height:45px;
border:2px solid black;
border-radius:4px;
background-color: white;
margin-left: 5px;
font-size: 16px;
font-weight:600;
}

#sale
{
text-align:left;
font-size:20px;
margin:0.5em;
font-weight:400;
}

#logo
{
width:150px;
height:40px;
margin-left:20px;
padding:40px;
/* display:inline-block; */
}
.logo
{
  display:inline-block;
  position:absolute;
} 
.logo_image
{
max-width:100%;  
object-fit:cover;
} 
#flag
{
width:70px;
padding-top:1em;
height:40px;
position:absolute;
left:200px;
top:5px;
}
.flag_image 
{
  max-width:100%;  
  object-fit:cover;
}

/* 
#tick 
{
width:20px;
height:40px;
}
#tick img
{
max-width: 100%;
object-fit: contain;
} */



.left_container
{
    color:#2f1c6a;
    font-family: DM Sans,sans-serif;    
}
#heading h1

{
  
     font-weight: bolder; 
  
}







@media (min-width:800px) {
   
  .right_container img
  {
  width:900px;
  
  }  
} 



/* 
@media (min-width:500px) {
   
  .right_container img
  {
  width:900px;
  
  }  
} 
 */





.main-container  .row .right_container img
{
max-width:100%;
object-fit: contain;


}


@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .main-container .left_container
  {
  align-items: center !important;
  }  
  .main-container .left_container  #sale
  {
    align-items: center !important;
  }

}



@media (min-width:500px) {
  /* Apply the desired class within the media query */
  .ps
  {
  padding:5rem 8rem !important;
  }  
}

@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .fs
  {
  padding:5rem 1rem 2rem 1.5rem !important;
  } 

}


@media (max-width:500px) 
{
  .wm
  {
  padding:5rem 1rem 2rem 1.5rem !important;
  
  } 

}







@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .main-container .row .left_container .custom-align
  {
  font-size:24px;
  text-align: center; 
  }
  
}


@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .main-container .row .left_container #sale
  {
  text-align: center; 
  }
  
}



@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .main-container .row .left_container #sale
  {
  text-align: center; 
  }
  .main-container .row .left_container .subcontainer
  {
  align-items: center;

  } 

  
}

@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .main-container .left_container #claim-btn
  {
    width:200px;
  }
  
}


@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .main-container .right_container 
  {
    margin-top: 3rem;
  }
  
}

@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .servicescontainer .box
  {
    margin-top: 5rem;
  }
  
}

@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .datacontainer
  {
  padding:5rem 1rem 2rem 1.5rem !important;
  } 

}



@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .websol-container  .left_container .websolheading
  {
  padding:2rem 1rem 2rem 1.5rem !important;
  font-size: 24px;
  font-weight: 600;
  } 

}


@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .websol-container .lowercontainer .firstlower,.secondlower,.thirdlower
  {
    margin-bottom: 3rem;
  }
  
}



@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .datacontainer .datatxt .data-heading
  {
  font-size:24px;

  }
  
}

.ls
{
  padding:5rem 8rem !important;
}




@media (min-width:500px) {
 
  .migration-container
  {
    padding:5rem 14rem !important;
  }
  
}


.webspeed-container .lowercontainer .firstlower,.secondlower,.thirdlower
  {

background-color: #fafbfc;
  }




@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .webspeed-container .lowercontainer .firstsub,.secondsub,.thirdsub
  {
    margin-bottom: 3rem;
    background-color: #fafbfc;
  }
   .webspeed-container  .right_section h1
   {
     font-size: 26px;    
     font-weight: 700;
   }

}



@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .webteam-container  .primary-section .teamheading
  {
  padding:0rem 0rem 0rem 0rem !important;
  font-size: 24px;
  font-weight: 600;
  } 

}



@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .webteam-container 
  {
  padding:1rem 1rem 1rem 1rem !important;
  
  } 

}


@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .webteam-container 
  {
  padding:1rem 1rem 1rem 1rem !important;
  
  } 

}


@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .migration-container
  {
  padding:2rem 1rem 1rem 1rem !important;
  
  } 

}


@media (max-width:500px) {
  /* Apply the desired class within the media query */
  .migration-container  .left_container
  {
  padding:2rem 1rem 1rem 1rem !important;
  
  } 

}



@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .security-container .bottom-container .btm
  {
    margin-bottom: 2rem;
  }
  
}


@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .security-container
  {
    padding:2rem 2rem 2rem 2rem !important;
  }
  
}






@media (max-width:500px) {
  /* Apply the desired class within the media query */

  .migration-container .lowercontainer .firstlower,.secondlower,.thirdlower
  {
    margin-bottom: 3rem;
  }
  
}

















/* 


.ms
{

  padding:5rem 14rem !important;

} */


/*  
.sb
{
  padding:2rem 15rem !important;

} */

.bottom-container
{
gap:50px;

}



#login-button
{
border:2px solid black; 
border-radius: 1px;
}

#bold
{
  font-size: 14px;
font-weight:bold;
font-family: sans-serif; 
color:#2f1c6a;
}

.pricing p img
{
 size:10px; 
}

#claim-btn
{
background-color: #673de6;
width:300px;
height:46px;
border-radius: 5px;
color:white;
 margin:20px;
font-size: 18px;
}

#timebutton
{
background-color: #673de6;
width:130px;
height:30px;
border-radius: 5px;
color:white;
}
.price-info >:nth-child(2)
{
font-size:20px;
font-weight:bold;
color:#2f1c6a;
}

#separator
{
height:10px;
width:20px;
color:#673de6;
}


#greens
{
  width:20px;

}


.main-container .rightcontainer img
{
max-width: 100%;
object-fit: contain;

} 




/* here is the code of pricing  */
.servicescontainer
{
width:100%;
height:auto;
/* padding-left:12em; */
padding-top:2em;
}

.box
{
border:2px solid black;
}

.servicescontainer #pricetag
{
font-size:48px;
font-weight:bold;
color: #2f1c6a;
width:100%;
display:flex;
align-items:center;
justify-content: center;
}
/* 
#intro
{
text-align: center;
font-size: 20px;


} */



.servicescontainer .box .btnb
{
  background-color:#fc5185;
  
}

#save
{
  background-color: #FFB6C4;
  border-radius: 14px;
  color:black;
  font-size: 18px;
   padding:4px; 
}









.center h1 {
  height: 10%;
  width: 100%;
  color: #2f1c6a;
  font-size: 38px;
  font-weight: bold;
  position:center;
  text-align: center;
  padding-top: 2em;
  padding-bottom:2em; 
}

#services .box {
  width:360px;
  border-radius: 10px;
  margin: 10px;
  padding: 39px 31px;
  background-color:white;
  color: #2f1c6a;

}
#box1
{
border: 0.5px solid blue;
}
#box2
{
border: 2px solid blue;
}
#box3
{
  border: 0.5px solid blue;
}

.box .secondarycenter h2
{
font-size: 25px;
}

.box
{
padding:2rem !important;
}




#intro
{
font-size:16px;
text-align: center;

}

.box .save
{
padding:1em; 
}  

#save
{
  background-color: #FFB6C4;
  border-radius: 14px;
  color:black;
  font-size: 10px;
   padding:4px; 
}


#cart-btn1
{
  width:220px;
   height: 45px;
   font-weight: bold;
   border-radius: 4px;
   color: white;
  transition: .3s ease-in-out;
  margin-bottom:15px;
  font-size: 16px;
}


#cart-btn2
{
  width:220px;
   height: 45px;
   border-radius: 4px;
   font-weight:bold;
   color: white;
  transition: .3s ease-in-out;
  background-color:#fc5185;
  margin-bottom:10px;
  font-size: 16px;
}



#cart-btn3
{
  width:220px;
   height: 45px;
   border-radius: 4px;
   font-weight:bold;
   color: white;
  transition: .3s ease-in-out;
  font-size: 16px;
}

#btn
{
width:200px;
transition: .3s ease-in-out;
}

#bold
{
font-size: 14px;
font-weight:bold;
font-family: sans-serif; 
color:#2f1c6a;
}

.pricing p img
{
 size:10px; 
}

.servicescontainer .box .btnb
{
  background-color:#fc5185;
  
}

#btn
{
  height:34px;
  border-radius: 3px;
  color:white;
}

.servicescontainer .box button
{
  background-color:#673de6;
}

.box:hover
{
  transform: translateY(-20px); /* Move the div upwards by 5 pixels on hover */
  transition: transform 0.6s ease; /* Smooth transition effect */
}

/* tick code */
.pricing div
{
padding:0.2em;
}

.pricing p
{
  padding:0.2em;
}



#question
{
width:25px;
height:22px;
position: relative;
left:100px; 
}
#questionone
{
width:25px;
height:22px;
}

#price
{
  font-size: 48px;
  font-weight:900;
}







/* 
#question img
{
max-width: 100%;
object-fit: contain;
}
*/


#tick
{
  width:20px;
  height:18px;
}

#percent
{
  color:#5025d1;
}

 #question
{
width:25px;
height:22px;
position: relative;
left:100px; 
}

#question img
{
  max-width: 100%;
  object-fit:contain;
}


.pricing #tick  img
{
  max-width: 100%;
  object-fit: contain;

}

#no-code
{
  font-size:14px;
  color:#2f1c6a;
  font-size: 1em;
}

/* services section */
#services {
  display: flex;
  flex-direction: row;
} 

.box .popular
{
  position:relative;
  width:200px;
  height:30px;
  top:-50px;
  left:30px;
  background-color: #FFB6C4;
  border-radius: 14px;
  color:#AA336A;
  font-size: 20px;
  text-align: center;
}
#linetxt
{

  text-decoration: line-through;

}



#rs
{
font-size: 20px;
}

#desc
{
font-weight:650;
color:#5025d1;

}


#desc
{
font-weight:650;
color:#5025d1;
}






#desc2
{
 
  font-weight: bold; 
  color:#fc5185;
}

.pricing
{
/* margin-top: 20px; */
}

#line
{
height:20px;
color:#5025d1;
}

#line
{
height:1px;
background-color:gray;
margin-top:30px;
margin-bottom: 20px;
}
#features
{
color:#2f1c6a;
font-weight: bold;
} 

#text
{
font-size:14px;
color:#2f1c6a;

}


.box .price-section
{


}

 #lower_txt
{

} 

.datacontainer
{
width:100%;
height:auto;
background-color:#fafbff;
}


.datacontainer .datatxt h2
{
color:#2f1c6a;
font-size:clamp(2.5rem,1.0974rem+3.7936vw,5.625rem);
/* font-size: 40px; */
font-weight:900 !important;
}

.datacontainer .datatxt p
{
color:#2f1c6a;
font-size:15px;
} 

.datacontainer .dataimg
{
width: 100%;
height:auto;
}

.datacontainer .dataimg img
{
max-width: 100%;
object-fit:contain;

}

/* here code for the  */

.websol-container
{
width:100%;
height:auto;
background-color:white;
}
/* 
.websolheading
{
font-weight:400 !important ;

} */

.right_container img
{
max-width: 100%;
object-fit: contain;

} 


.lowercontainer
{
  font-size: 16px;
  /* display:flex;
  align-items:center;
  justify-content:space-evenly;
  gap:10px; */

}

.lowercontainer .firstlower
{

background-color: #fafbfc;

}
.lowercontainer .secondlower
{

/* font-size: 14px; */
background-color: #fafbfc;
color:#2f1c6a;

}

.lowercontainer .thirdlower
{
  /* font-size:14px; */
  background-color: #fafbfc;
  color:#2f1c6a;

}

#stars
{
width:100px;

}

#bit
{
  width:230px;
}
#smalltxt
{
/* padding-top:20px; */
font-size:15px ;
color:#2f1c6a;
font-family: sans-serif;
line-height: 15px;
}

.left_section img
{
max-width: 100%;
object-fit: contain;
}

.secondary_section img
{
max-width:100%;
object-fit:contain;

}


.reponse .secondary_section img
{
max-width: 100%;
object-fit: contain;

}


.security-container .image-container img
{
max-width:100%;
object-fit: contain;

}


#startbutton
{
width:200px;
height:50px;
border-radius:7px;
color: white;
background-color: #5025d1;
font-size: large;

}

/* 
here we have the raw code  */


/* Here is the code of the security container */


.security-container
{
width:100%;
height:auto;
background-color:#673de6;
font-size:16px;
color: white;
} 


 
.btm
{ 

background-color:#5025d1 ;
overflow-wrap: break-word;
/* width: fit-content; */
/* block-size: fit-content; */
gap:20px;
border-radius:10px;
} 

.pc img
{
max-width:100%;
height:auto;
object-fit: contain;
}



#ptext
{
  font-size: 16px;
} 

.cnetpic
{
height:20px;
width:30px;
}
.cnet img
{
  max-width: 100%;
  object-fit:cover;
}

/* here code for the migration container beggins */

.migration-container
{
  width:100%;
  height:auto;
  background-color:white;

}



.migration-container .lowercontainer
{
  grid-column:1/5;
  grid-row:3/5;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}


.about img
{
width:200px;
height:100px;
}



.footers 
{
  width:100%;
  height:auto;
  background-color: #fafbff;
  text-align:left; 
  font-family: Arial, sans-serif;
  display:grid;
  padding:10%;
  color:#2f1c6a;
   font-family: sans-serif;


  grid-template-rows: minmax(40px, auto) minmax(50px, auto) minmax(50px, auto) minmax(20px, auto) minmax(16px, auto) minmax(50px, auto) minmax(20px, auto) minmax(15px, auto) 1fr;
		
  grid-template-columns: 11.437908496732026% 12.091503267973856% 10.457516339869281% 15.032679738562091% 1.9607843137254901% 15.032679738562091% 1.9607843137254901% 15.032679738562091% 1.9607843137254901% 15.032679738562091%;

}

/* here is the code for the  */
  
.about
{
grid-row:1/2;
grid-column:1/3;
display: flex;
flex-direction:column;
}

.about .paymentlogo
{
grid-row:1/2;
grid-column:2/4;
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
.about .paymentcard
{
width:50px;
height:20px;
}
.paymentcard img
{
  max-width:100% ;
  object-fit: contain;
}






 #footerlogo
{
grid-row:1/2;
grid-column:1/3;
padding-left:0;

}


#footerlogo img
{
max-width:100%;
object-fit:contain;

}

#about
{
  grid-row:1/3;
  grid-column:1/3;
  font-size: 14px;
  text-align: left;
}



.footersub1
{
  grid-row:1/2;
  grid-column:4/5;
  display:flex;
  flex-direction:column;
  align-items:flex-start; 
   display: grid;
   
}


.footersub1 h4
{
color:#2f1c6a;
/* padding-bottom:12px; */
text-align: left;

}

.footersub1 ul
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}


.footersub1 ul
{
list-style-type: none;
/* color: */

}

.footersub1 ul li a
{
  
  font-size:14px;
  text-decoration: none;
  color:#2f1c6a;
  
}
.footersub1 ul li
{
list-style-type: none;

padding:0px 8px 0px 0px;
margin:0px 0px 6px;

}





.footersub2
{
  grid-row:4/6;
  grid-column:4/5;

  grid-row:1/2;
  grid-column:5/7;
 
  /* display: block; */
  /* display:flex;
  flex-direction: column;
  align-items:flex-start;
    */
}

.footersub2 ul
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}
.footersub2 h4
{
text-align:left;
padding-bottom:10px;
}






.footersub2 ul li
{
  list-style-type: none;
  padding:0px 8px 0px 0px;
  margin:0px 0px 6px;
  
}

.footersub2 ul li a
{
  
  font-size:14px;
  text-decoration:none;
  list-style-type: none;
  /* margin-bottom:8px; */
  color:#2f1c6a;

}







.footersub3
{
grid-row:2/4;
grid-column:5/7;
/* display: block; */
/* display:flex;
flex-direction:column;
align-items:flex-start; */

}

.footersub3 h4
{
color:#2f1c6a;
padding-bottom:15px;
text-align: left;
}


.footersub3 ul
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}

.footersub3 ul li
{
list-style-type: none;
padding:0px 8px 0px 0px;
margin:0px 0px 7px;
  
}
.footersub3 ul li a
{
  font-size:14px;
  text-decoration:none;
  color:#2f1c6a;

}






.footersub4
{
  grid-row:1/4;
  grid-column:7/9;
  /* display:block; */
  /* flex-direction: column;
  align-items:flex-start;
    */
}

.footersub4 h4
{
text-align:left;
}



.footersub4 ul
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}


.footersub4 h4
{
color:#2f1c6a;
padding-bottom:12px;
text-align: left;

}

.footersub4 ul li
{
list-style-type: none;
padding:0px 8px 0px 0px;
margin:0px 0px 8px;

}





.footersub4 ul li a
{

  font-size:14px;
  text-decoration:none;
  color:#2f1c6a;

}



.footersub5
{
  grid-row:4/5;
  grid-column:8/9;
   /* display:block; */
   text-align: left;
   /* top:5px; */
  /* flex-direction: column;
  align-items:flex-start;
     */
}



.footersub5 ul
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}



.footersub5 h4
{
color:#2f1c6a;
padding-bottom:12px;

}

.footersub5 ul li
{
list-style-type: none;
padding:0px 8px 0px 0px;
margin:0px 0px 8px;

}

.footersub5 ul li a
{
  font-size:14px;
  text-decoration:none;
  color:#2f1c6a;

}




.footersub6
{
  grid-row:2/5;;
  grid-column:8/9;
  text-align: left;
  /* display:flex;
  flex-direction: column;
  align-items:flex-start;   */
}



.footersub6 h4
{
margin:5px;
}




.footersub6 ul
{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}


.footersub6 h4
{
padding-bottom:10px ;
padding-bottom:12px;

}

.footersub6 ul li
{
list-style-type: none;
padding:0px 8px 0px 0px;
margin:0px 0px 8px;

}

.footersub6 ul li a
{
  padding:0px 8px 0px 0px;
  font-size:14px;
  text-decoration:none;
  margin:0px 0px 8px;
  color:#2f1c6a;
}

.rights-info
{
grid-row:7/8;
grid-column:3/8;
}




@media screen and (max-width:1300px) {
  .security-container .bottom-container
   { 
     width:100%;
     height:auto;
     display:flex;
     flex-direction:column;
     justify-content:flex-start;
     align-items:center;
     gap:20px;
     width:fit-content;


    }
}







@media screen and (min-width:500px) {
  .smallscreen-slider
   { 
     display:none;
     
    }
  }


  @media screen and (max-width:500px) {
    .slider
     { 
       display:none;
       /* z-index: 1000; */

      }
      


    }
  
  











@media screen and (max-width:1200px) {
  .security-container{
      height:auto;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:center;
 

  }
}

@media screen and (max-width:1200px) {
  .security-container .text-container{
      height:auto;
      order:0;
      /* display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:center;
  */

  }
}


@media screen and (max-width:1200px) {
  .security-container .bottom-container{
      height:auto;
      order:2;
      
  }
}









@media screen and (max-width:1200px) {
  .security-container .image-container{
      height:auto;
      order:1;
      /* display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:center;
  */

  }
}

@media screen and (max-width:1200px) {
  .footers{
      height:auto;
      order:1;
      grid-template-rows:minmax(80px, auto) minmax(80px, auto) minmax(80px, auto) minmax(80px, auto) 1fr minmax(80px, auto) minmax(80px, auto) 1fr;
       
      grid-template-columns : 30.01960784313725% 15.457516339869281% 12.009803921568627% 20.016339869281047% 8.49673202614379%;  
      ;

  }
}

@media screen and (max-width:1200px) {
  .about 
  {
      grid-row:1/2;
      grid-column:1/11;

  }
}

@media screen and (max-width:1200px) {
  .footersub1
  {
      grid-row:3/4;
      grid-column:1/2;

  }

}


@media screen and (max-width:1200px) {
  .footersub2
  {
      grid-row:3/4;
      grid-column:2/4;

  }

}


@media screen and (max-width:1200px) {
  .footersub3
  {
      grid-row:4/5;
      grid-column:1/2;

  }

}



@media screen and (max-width:1200px) {
  .footersub4
  {
      grid-row:4/6;
      grid-column:2/4;

  }

}



@media screen and (max-width:1200px) {
  .footersub5
  {
      grid-row:3/4;
      grid-column:5/6;

  }

}


@media screen and (max-width:1200px) {
  .footersub6
  {
      grid-row:4/5;
      grid-column:5/6;

  }

}










